
h1 {
  
  font-weight: 100;
    font-size: 36px;
    text-align: center;
    color: #4A90E2;
  }
  
  body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f0f0; 
  }
  
  .todo-container {
    background-color: #FFFFFF; 
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    border-radius: 10px;
  }
  .nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .nav li {
    margin: 0 15px;
    font-size: 18px;
  }
  .nav li a {
    color: gray; 
    text-decoration: none;
  }
  
  .nav .active a {
   
    text-decoration: underline;
    text-decoration-color: #4A90E2; 
    text-underline-offset: 15px; 
  }
  
  .form-section {
    display: flex;
    align-items: center; 
  }
  
  .todo-input {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px; 
  }
  .todo-input:focus {
    border-color: #4A90E2;    
    border-width: 2px;
    outline: none;
  }
  
  .create-button {
    padding: 8px 12px;
    background-color: white; 
    color: #4A90E2; 
    border: 2px solid #4A90E2; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: #4A90E2; 
    color: white; 
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
    border: none;
    border-bottom: 1px solid #ddd; 
    padding: 10px 0;
    margin-bottom: 10px;
  }
  
  .todo-item span {
    flex: 1;
  }
  
  .complete-button, .delete-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; 
    margin-right: 10px;
  }
  
  .complete-button {
    color: #6d6d6d;
  }
  
  .delete-button {
    color: #6d6d6d;
  }
  